/* CSS page for the bottom three rows */

div.bottom-bar-container {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

div.ig-follow {
  text-align: center;
  font-family: Oswald;
  background-color: white;
  height: 8%;
  font-size: 1.2em;
}

ul.bottom-photos {
  display: table;
}

ul.bottom-photos > li {
  display: inline;
  overflow-wrap: nowrap;
  padding: 0;
}

ul.bottom-photos > li > img {
  display: inline;
  max-width: 12.3%;
  margin: 0;
  padding: 0;
  margin-top: -20px;
}

div.build-things {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #2e2e2e;
  color: gray;
  margin-top: -25px;
}

div.ig-follow {
  padding-bottom: 3%;
  margin-bottom: 0;
}
