/* CSS page for the bottom three rows */

div.bottom-bar-container {
  border: solid yellow 3px;
}

div.ig-follow {
  text-align: center;
  border: solid red 3px;
  font-family: Lato;
  background-color: white;
}

.bottom-photos {
  display: table;
}

ul.bottom-photos > li {
  display: inline;
  overflow-wrap: nowrap;
}

ul.bottom-photos > li > img {
  display: inline;
  max-width: 12.5%;
}

div.build-things {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #2e2e2e;
  color: gray;
}
