/* Right hand bio formatting --------------------------------------------------------------*/

div.right-posts > * {
  background-color: white;
}

div.bio {
  position: relative;
  top: 0;
  left: 0;
}

div.bio > img {
  width: 100%;
  height: 35%;
  position: relative;
  top: 0;
  left: 0;
}

div.bio > img.circle {
  width: 50%;
  height: 32%;
  border: solid white 7px;
  border-radius: 50%;
  position: absolute;
  top: 18%;
  left: 25%;
}

div.info-below {
  display: flex;
  margin-top: 30%;
  height: 40%;
  flex-direction: column;
  align-items: center;
}

.bio-title {
  font-family: Oswald;
}

.bio-text {
  width: 75%;
  text-align: center;
  font-family: Lato;
  line-height: 1.4em;
  margin-bottom: -10px;
}

/*
div.info-below > * {
  border: solid black 1px;
}
*/

div.info-below > .external-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.pop-date {
  font-style: italic;
}

/* Styling code for Popular Posts -------------------------*/

ul.pop > li > img {
  max-width: 80%;
  height: auto;
  padding-left: 8%;
  padding-top: 7%;
  padding-bottom: 2%;
}

.popular > p {
  text-align: center;
  font-family: Oswald;
}

div.popular {
  height: 26.5%;
}

li.pop-title {
  font-family: Oswald;
}

li.pop-date {
  color: darkgray;
  margin-top: 2%;
  margin-bottom: -3%;
}

li.pop-date,
li.pop-title {
  margin-left: 7.5%;
}

/* ------------------ Latest Posts Styling ---------- */

div.latest > p {
  font-family: Oswald;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 10%;
}

ul.late > li > img {
  max-width: 70%;
  height: auto;
}

ul.late {
  display: flex;
  align-items: left;
}

ul.late > li {
  width: 40%;
  margin-right: -20px;
  margin-left: 35px;
}

.late-title {
  font-family: Oswald;
}

.late-date {
  font-style: italic;
}

/*---------------- Instagram Feed Posts -----------------------------------------*/

div.ig-feed > p {
  font-family: Oswald;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 5%;
}

.ig-photo {
  width: 78%;
  margin-top: 15px;
}

.igleft {
  margin-left: 35px;
}

.igright {
  margin-left: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
