/* Right hand bio formatting --------------------------------------------------------------*/

div.right-posts > * {
  background-color: white;
}

div.bio {
  position: relative;
  top: 0;
  left: 0;
}

div.bio > img {
  width: 100%;
  height: 35%;
  position: relative;
  top: 0;
  left: 0;
}

div.bio > img.circle {
  width: 50%;
  height: 32%;
  border: solid white 7px;
  border-radius: 50%;
  position: absolute;
  top: 18%;
  left: 25%;
}

div.info-below {
  display: flex;
  margin-top: 30%;
  height: 40%;
  flex-direction: column;
  align-items: center;
}

div.info-below > p {
  font-family: Oswald;
}

/*
div.info-below > * {
  border: solid black 1px;
}
*/

div.info-below > .external-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.bio-text {
  width: 60%;
}

/* Styling code for Popular Posts -------------------------*/

ul.pop > li > img {
  max-width: 80%;
  height: auto;
  padding-left: 8%;
  padding-top: 7%;
  padding-bottom: 2%;
}

.popular > p {
  text-align: center;
  font-family: Oswald;
}

div.popular {
  height: 24.2%;
}

li.pop-title {
  font-family: Oswald;
}

li.pop-date {
  color: darkgray;
  margin-top: 2%;
  margin-bottom: -3%;
}

li.pop-date,
li.pop-title {
  margin-left: 7.5%;
}
