
/* -------------------- Blog post formatting  ---------------- ------------------------------------------*/

.left-right {
    display: flex;
    flex-direction: row;
}

.right-posts {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 1%;
}

.right-posts > * {
    width: 100%;
    height: 14%;
    border: solid yellow 3px;
    margin-top: 11%;

}

.right-posts > .popular {
    width: 100%;
    height: 25%;
    border: solid yellow 3px;
}

.all-posts {
    padding-left: 10%;
    width: 52.5%;
    padding-right: 2%;
    margin-top: 1%;
}

.blog-container {
    width: 100%; /* 750px; */
    height: 25%; /* 925px; */
    background-color: white;
    margin-top: 8%;
    font-family: Lato; 
    padding-right: 0%;
    margin-right: 0%;
}

ul.blog > li.main-text {
    
    width:  90%;/*670px;*/
    text-align: left;
    word-wrap: break-word;
    padding-left: 40px;
    padding-top: 20px;
    line-height: 1.5em;
    
}

ul.blog > li.genre {
    text-align: center;
    color: red;
    font-size: 11px;
    padding-top: 40px;
}

ul.blog > li.title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
}

ul.blog > li > button {
    text-align: center;
    border: solid red 1px;
    width: 24%;
    height: 40px;
    margin-top: 40px;
    background-color: white;
    color: red;
    font-family: Lato;
    font-size: 0.8em;
    font-weight: bold;
}

ul.blog > li > button:hover {
    text-align: center;
    border: solid red 2px;
    background-color: red;
    color: white;
}

ul.blog > li.continue {
    text-align: center;
}

/* May need to be more specific if other images come into play */
li > img {
    width: 100%;
    height: 475px;
    margin-top: -20px;
    padding: 0px;
}

/* ul has a padding default of 40px */
ul {
    list-style: none;
    padding: 0;
}

.under-blog {
    display: flex;
    justify-content: space-between;
}

.under-blog > ul {
    display: block;
}

.under-blog > li {
    margin: auto;
    display: inline-block;
}

ul.byline {
    margin-top: 88px;
    border-top: solid lightgray 1.5px;
    width: 85%;
    margin-left: 40px;
    color: lightgray;
}

ul.byline > li {
    display: inline-block;
    top: 50%;
    transform: translateY(90%);
}

ul.byline > .author {
    padding-right: 45%;
}

ul.byline > li > .nav-link {
    padding-left: 3px;
    padding-right: 3px;
    color: lightgray;
}

ul.byline > li > .nav-link:hover {
    padding-left: 3px;
    padding-right: 3px;
    color: black;
}

/* End of blog content formatting --------------------------------------------------------*/




.bottom-bar {
    border: solid yellow 3px;
}

.bottom-bar > img {
    border: solid yellow 3px;
}


/* Media query has to be at the end to override all prior CSS rules */
@media (max-width: 1100px) {
    
    .left-right {
        display: flex;
        flex-direction: column;
        border: solid red 4px;
    }
   
  }


/* use font awesome to bring in those linked in logos. */

/* continue reading button should :hover and then turn red */

/* Structure them consistently, a la octocats */

/* the link for the fonts has been provided */

/* unsplash has great images. Resize them down in order to use them */

/* I should feature RATTLESNAKE and CANDY MACHINE.

MOBILE IS A REQUIREMENT. STRUCTURE and make it clean. Apply the same css. 
