/* lock the nav bar at the top. confirm it is properly set */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i%7cOswald:300,400,500,600,700%7cPlayfair+Display:400,400i,700,700i');
/* fonts: "Lato", "Oswald", and "Playfair+Display". */

/** {
    border: black dashed 1px;
}*/

/* Need to use same CSS for mobile site */

html, body {
    height: 100%;
    margin: auto;
    /*overflow-x: hidden;*/
}
body {
    background-color: lightgray;
    padding-top: 60px; /* This keeps the navbar from covering content. */
}


.nav-bar {
    background: white;
    height: 60px;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    margin: 0px;
}

.nav-bar ul {
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    max-width: 900px;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    color: black;
}

.nav-bar li {
    list-style-type: none;
    font-size: 1rem;
    color: black;
}

.internal-nav {
    align-items: center;
    gap: 10px; 
    padding-left: 10%;
}

.internal-nav > li {
    font-size: 12px;
    padding-left: 4px;
    padding-right: 4px;
    
}

.external-nav {
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding-right: 10%;
}

.external-nav > li > i {
    font: 20px;
}

li > .nav-link {
    color: black;
    font-family: Lato;
    text-decoration: none;
}

/* -------------------- Blog post formatting  ---------------- ------------------------------------------*/

.all-posts {
    padding-left: 10%;
}

.blog-container {
    width: 750px;
    height: 925px;
    background-color: white;
    margin-top: 68px;
    font-family: Lato; 
}

ul.blog > li.main-text {
    
    width: 670px;
    text-align: left;
    word-wrap: break-word;
    padding-left: 40px;
    padding-top: 20px;
    line-height: 1.5em;
    
}

ul.blog > li.genre {
    text-align: center;
    color: red;
    font-size: 11px;
    padding-top: 40px;
}

ul.blog > li.title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
}

ul.blog > li > button {
    text-align: center;
    border: solid red 2px;
    width: 155px;
    height: 35px;
    margin-top: 40px;
    background-color: white;
    color: red;
    font-family: Lato;
}

ul.blog > li.continue {
    text-align: center;
}

/* May need to be more specific if other images come into play */
li > img {
    width: 100%;
    height: 475px;
    margin-top: -20px;
    padding: 0px;
}

/* ul has a padding default of 40px */
ul {
    list-style: none;
    padding: 0;
}

.under-blog {
    display: flex;
    justify-content: space-between;
}

.under-blog > ul {
    display: block;
}

.under-blog > li {
    margin: auto;
    display: inline-block;
}

ul.byline {
    margin-top: 88px;
    border-top: solid lightgray 1.5px;
    width: 85%;
    margin-left: 40px;
    color: lightgray;
}


ul.byline > li {
    display: inline-block;
    top: 50%;
    transform: translateY(90%);
}

ul.byline > .author {
    padding-right: 310px;
}

ul.byline > li > .nav-link {
    padding-left: 3px;
    padding-right: 3px;
    color: lightgray;
}

/* End of blog post formatting --------------------------------------------------------*/

/*
ul > li {
    display: inline-block;
}
*/




/* Will need to be more specific about which imgs */

/* when you hover over home, portfolio color change */

/* use font awesome to bring in those linked in logos. */

/* continue reading button should :hover and then turn red */

/* Structure them consistently, a la octocats */

/* the link for the fonts has been provided */

/* unsplash has great images. Resize them down in order to use them */

/* I should feature RATTLESNAKE and CANDY MACHINE.

MOBILE IS A REQUIREMENT. STRUCTURE and make it clean. Apply the same css. 
